#replit {
            font-family:Arial;
            font-style:italic;
            font-weight:bold;
            color:#455a75;
        }
 


#github {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#485464;

        }

#scratch {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#f6a02b;
        }
            
#gdrive-vids {
            font-family:Cutive,verdana, Arial, sans-serif;
            font-weight:bold;
            color:#0e7c3a;
        }


#gamejolt {
            font-family:verdana, Arial, sans-serif;
            font-style:italic;
            font-weight:bold;
            color:#02c212;
        }
