h2 {

font-family: Arial, 'sweet-purple';



}


@font-face {
  font-family: 'sweet-purple';
  src: url('../fonts/sweet-purple.ttf');
}



@font-face {

font-family: 'toms-roman';
  src: url('../fonts/TomsNewRoman-Eawr.ttf');


}

